.about-us-hero {
  @apply flex items-center text-center text-white;
  background: url(/images/about-us/hero.jpeg) center center no-repeat;
  background-size: cover;
  padding: 8rem 0;

  h1 {

    &:after {
      @apply bg-care-boots block;
      content: '';
      width: 1.875rem;
      height: .1875rem;
      margin: 1.25rem auto;
    }
  }

  h2 {
    @apply text-xl;
  }
}

.about-us-page {
  article {
    @apply mb-8;
  }
  h3 {
    @apply text-care-motion text-2xl mb-6;
  }
}
