<!-- Footer -->
<footer id="footer" class="py-24">
    <div class="container mx-auto">
        <div id="footer-logo">
            <a href="/"><img src="{{ url('theme://images/care-access-logo-stacked-white.png') }}"></a>
            <p class="text-care-grace mt-4 text-sm">© Copyright 2021 Care Access</p>
        </div>
        <div class="wrapper grid grid-cols-3 gap-4 w-auto">
            <div class="footer-block">
                <ul>
                    <li class="title">
                        <span>Patients:</span>
                    </li>
                    <li><a class="link " href="http://carestudies.com/">Why Participate in Clinical Trials?</a></li>
                </ul>
            </div>
            <div class="footer-block">
                <ul>
                    <li class="title">
                        <span>Physicians:</span>
                    </li>
                    <li><a class="link " href="/research-physicians">Principal Investigator Programs</a></li>
                </ul>
            </div>
            <div class="footer-block">
                <ul>
                    <li class="title">
                        <span>Sponsors/CROs:</span>
                    </li>
                    <li><a class="link " href="/decentralized-trials">Decentralized Trials</a></li>
                    <li><a class="link " href="/sites-on-demand">Sites On Demand™ </a></li>
                    <li><a class="link " href="/care-access-network">Select Our Sites</a></li>
                    <li><a class="link " href="/locations">Clinical Trial Sites</a></li>
                </ul>
            </div>
            <div class="footer-block">
                <ul>
                    <li class="title">
                        <span>About Us:</span>
                    </li>
                    <li><a class="link " href="/careers">Careers</a></li>
                    <li><a class="link " href="/news">News</a></li>
                    <li><a class="link " href="/about">Mission</a></li>
                    <li><a class="link " href="/locations">Locations</a></li>
                    <li><a class="link " href="/contact-us">Contact Us</a></li>
                    <li><a class="link " href="/privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-block">
                <ul>
                    <li class="title">
                        <span>Community:</span>
                    </li>
                    <li><a class="link " href="https://www.linkedin.com/company/careaccess" target="_blank">LinkedIn</a></li>
                    <li><a class="link " href="https://twitter.com/careaccessres">Twitter</a></li>
                    <li><a class="link " href="https://www.facebook.com/CareAccessRes/">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
