<!--Nav-->
<nav id="header" class="fixed w-full z-30 top-0 bg-white site-header">
    <div class="w-full container mx-auto flex flex-wrap items-left justify-between mt-0 py-2">
        <div id="nav-left" class="flex items-left">
            <div class="mr-8 flex items-left">
                <a class="no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="/">
                    {% include 'partials/logo-svg.html.twig' %}
                    {{ config.themes.caretail.sitetitle }}
                </a>
            </div>

            <div class="block lg:hidden pr-4">
                <button id="nav-toggle"
                        class="flex items-left px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800 hover:border-teal-500 appearance-none focus:outline-none">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                    </svg>
                </button>
            </div>

            
        </div>
        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg- lg:bg-transparent text-black p-4 lg:p-0 z-20 align-baseline"
                 id="nav-content">
                {% include 'partials/navigation.html.twig' %}
                <span id="navAction"></span>
            </div>
        <div id="nav-right" class="flex items-center">
            <div class="flex items-center">
                <ul>
                    <li class="inline-block">
                        <a class="inline-block no-underline py-2 px-4 hover:bg-gray-100" href="https://portal.careaccess.com/">Portal Login </a>
                    </li>
                    <li class="inline-block no-underline py-2">
                        <a class="btn primary ml-4" href="/contact-us">Contact Us</a>
                    </li>
            </div>
        </div>
        
    </div>
</nav>
