{% extends 'partials/base.html.twig' %}

  {% block content %}
      <section class="section about-us-hero mt-20">
          <div class="container sm mx-auto">
              <h1>A new vision for our healthcare system</h1>
              <h2>Our goal is to engage every healthcare professional in clinical research and to make clinical trials a care option for every patient</h2>
          </div>
      </section>
      <section class="section py-24">
          <div class="container sm mx-auto about-us-page">
              <article>
                  <h3>Making Research Accessible</h3>
                  <p>Before new medications are made available to the public, they must undergo a rigorous scientific testing process. Only the few that can continue to accumulate evidence of their safety and efficacy throughout the entire process, which starts in the laboratory and proceeds up through clinical trials with patient volunteers, are allowed to continue on the path to FDA approval. Care Access is working to make this process better, faster and more efficient.</p>
              </article>
              <article>
                  <h3>Let's be partners</h3>
                  <p>A select group of doctors across the United States have partnered with Care Access to help bring the most promising drugs through the final stages before FDA approval. The patients that choose to volunteer for a clinical trial usually are provided with additional clinic visits, diagnostic procedures and the investigational medicines at no cost. Reimbursement is often paid to study participants for their time and travel to study visits.</p>
              </article>
              <article>
                  <h3>Helping you do research</h3>
                  <p>Although many doctors would like to be involved in research, it can be daunting for the average physician to take on the rigorous and regulated process. Care Access provides the training, staff, administration and other resources to build a high-quality research program within the existing clinical practice of doctors who are already at the top of their field in terms of commitment and expertise. All members of our team must follow the strictest guidelines for ethics and safety. After taking the time to carefully find the best doctors for our program, Care Access has developed a national network of these research sites. Only the few doctors who have undergone a thorough review to be selected as an Investigator can offer patients access to investigational medicines through clinical trial participation.</p>
              </article>
          </div>
      </section>
      <section class="section py-24 bg-gray-100">
          <div class="container sm mx-auto">
              <h2 class="text-care-motion mb-6">Our commitment to patients</h2>
              <p>Care Access is committed to helping patients understand the research process. All participants are provided with a full overview of the study drug's history as well as all of the details pertaining to the specific trial and any procedures that will be done. No procedures are conducted without informed consent and this consent can be withdrawn at any time for any reason with no penalties. All research activities are conducted under the oversight of federal regulatory agencies, a nationally-recognized ethical review board, and board-certified physicians.</p>
          </div>
      </section>
  {% endblock %}
