{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="decentralized-trials-hero mt-20">
        <h1 class="text-white">Decentralized Study<br/>Implementation</h1>
    </div>
    <section class="section bg-care-boots text-center text-white">
        <div class="container sm mx-auto py-16">
            <h3 class="text-2xl mb-6">An Essential Partner for Innovative Sponsor & CROs</h3>
            <h4 class="text-base font-light">Every clinical trial needs a sponsor and a site. Sponsors who run innovative decentralized trials need a <strong>strong site partner</strong>. Care Access is the market-leading Decentralized Research Organization (DRO), with a proven track-record as the decentralized research site at scale.</h4>
        </div>
    </section>

    <section class="section bg-care-ivory text-center py-24 px-4 mobile-steps">
        <div class="container mx-auto">
            <h2>Mobile Sites On Demand™</h2>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-16 mt-24">
                <div class="bg-white shadow-xl px-10 py-16">
                    <h3>On-demand deployment of mobile research teams within 24-48 hrs.</h3>
                </div>
                <div class="bg-white shadow-xl px-10 py-16">
                    <h3>Ongoing management of study continuity and data quality.</h3>
                </div>
                <div class="bg-white shadow-xl px-10 py-16">
                    <h3>Rapid supplies and equipment dispatch and maintenance.</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="section features py-24 px-4">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-16">
            <div class="text-center">
                <div><img src="/images/decentralized-trials/remote-pi.png" class="inline-block" /></div>
                <h3 class="my-4">Experienced<br/>Remote PIs</h3>
                <p class="text-sm">Experienced Principal Investigators equipped and supported to provide oversight responsibilities remotely.</p>
            </div>
            <div class="text-center">
                <div><img src="/images/decentralized-trials/site-orchestration.png" class="inline-block" /></div>
                <h3 class="my-4">Site<br/>Orchestration</h3>
                <p class="text-sm">For a site to function, all the pieces need to be in the right place at the right time. Site Orchestration brings the people, supplies, equipment, and processes together, at the right time and the right place, to serve our patients.</p>
            </div>
            <div class="text-center">
                <div><img src="/images/decentralized-trials/study-management.png" class="inline-block" /></div>
                <h3 class="my-4">Study<br/>Management</h3>
                <p class="text-sm">Teams of dedicated Study Managers remotely ensure the continuity of protocol execution and they become the pillar of stability in a rapidly changing mobile decentralized study.</p>
            </div>
            <div class="text-center">
                <div><img src="/images/decentralized-trials/facility-management.png" class="inline-block" /></div>
                <h3 class="my-4">Facility<br/>Management</h3>
                <p class="text-sm">We’re taking research to facilities and places where it doesn’t exist, whether it be a patient’s home, a long-term care facility, or a community center. Ensuring access and engagement is key for success.</p>
            </div>
            <div class="text-center">
                <div><img src="/images/decentralized-trials/patient-engagement.png" class="inline-block" /></div>
                <h3 class="my-4">Patient<br/>Engagement</h3>
                <p class="text-sm">In decentralized studies, patients invite us into their lives. Patient Engagement specialists ensure that we respect the time and space of interested patients while also providing them with the information that they need to make an informed decision about participating in research.</p>
            </div>
            <div class="text-center">
                <div><img src="/images/decentralized-trials/traveling-subis.png" class="inline-block" /></div>
                <h3 class="my-4">Traveling<br/>Sub-Is</h3>
                <p class="text-sm">Our team of traveling Sub-Investigators visit patients across country to help complete and oversee the procedures and activities that require advanced providers.</p>
            </div>
            <div class="text-center">
                <div><img src="/images/decentralized-trials/traveling-clinical-research-staff-2.png" class="inline-block" /></div>
                <h3 class="my-4">Traveling Clinical<br/>Research Staff</h3>
                <p class="text-sm">For clinical research that happens on the go, we have a team of experienced clinical research professionals who can keep up with it all. This includes traveling research coordinators, registered nurses, laboratory processing specialists, and support personnel.</p>
            </div>
            <div class="text-center">
                <div><img src="/images/decentralized-trials/infrustructure-deployment.png" class="inline-block" /></div>
                <h3 class="my-4">Infrastructure<br/>Deployment</h3>
                <p class="text-sm">Setting up research capabilities on demand needs the ability to rapidly deliver and setup essential research supplies, equipment, and furniture. This includes delivering and managing study drug, lab equipment, and PPE.</p>
            </div>
        </div>
    </section>
    <section class="section dct-news bg-gray-100 py-16 px-4">
        <div class="container mx-auto">
            <h3 class="text-2xl text-center text-care-motion">Mobile Sites On Demand™ in the News</h3>
            <div class="dct-featured-article">
                <img src="/images/decentralized-trials/featured-article.jpeg" />
                <div class="bg-white p-12 shadow-xl flex flex-col align-center justify-center">
                    <h3 class="text-lg mb-4">“Lilly needed a partner that had the capabilities and experience that Care Access Research uniquely delivers and could mobilize quickly within the time constraints required by the protocol”</h3>
                    <p><a href="#" class="btn primary">Read Full Article</a></p>
                </div>
            </div>
            <div class="article-list">
                <a href="#">
                    <article>
                        <img src="/images/decentralized-trials/articles/outsourcing-pharma.png" />
                        <div>
                            <h2>AstraZeneca joins with Care Access Research on COVID-19 antibody trial</h2>
                            <p>02/23/2021 - Outsourcing Pharma</p>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article>
                        <img src="/images/decentralized-trials/articles/mobihealthnews.png" />
                        <div>
                            <h2>Contributed: Trials and tribulations – the new world of decentralized trials</h2>
                            <p>01/22/2021 - MobiHealth News</p>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article>
                        <img src="/images/decentralized-trials/articles/cropped-cropped-SNN_Logo_19-1-1-1-2048x198.jpeg" />
                        <div>
                            <h2>Lilly’s Antibody Clinical Trial in Nursing Homes Prevents COVID-19, Reduces Resident Risk Up to 80%</h2>
                            <p>01/22/2021 - Skilled Nursing News</p>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article>
                        <img src="/images/decentralized-trials/articles/logo-biotech.svg" />
                        <div>
                            <h2>Care Access Research teams up with AstraZeneca for COVID-19 antibody virtual trial work</h2>
                            <p>01/07/2021 - Fierce Biotech</p>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article>
                        <img src="/images/decentralized-trials/articles/cc-logo.png" />
                        <div>
                            <h2>Lilly, Care Access Take COVID Trial Directly To Patients</h2>
                            <p>12/10/2020 - Clinical Leader</p>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article>
                        <img src="/images/decentralized-trials/articles/outsourcing-pharma.png" />
                        <div>
                            <h2>Care Access Research, Lilly join on mobile COVID-19 trials</h2>
                            <p>10/27/2020 - Outsourcing Pharma</p>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article>
                        <img src="/images/decentralized-trials/articles/cropped-cropped-SNN_Logo_19-1-1-1-2048x198.jpeg" />
                        <div>
                            <h2>How Lilly’s COVID-19 Nursing Home Trial Could Change the Future of Research in Long-Term Care</h2>
                            <p>10/11/2020 - Skilled Nursing News</p>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article>
                        <img src="/images/decentralized-trials/articles/ACT.png" />
                        <div>
                            <h2>Care Access Research Partners on Mobile Trial for COVID-19 Treatment</h2>
                            <p>10/01/2020 - Applied Clinical Trials</p>
                        </div>
                    </article>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
