{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="section">
        <div class="container mx-auto">
            <div class="generic-hero">
                <div>
                    <img src="/images/generic/Medical+Staff-Patient_2.jpeg" />
                </div>
                <div>
                    <h1>Cutting-Edge Research Made Simple</h1>
                    <p>Join the exceptional physicians driving medicine into the future! Finally, there’s an easy way to become a research physician from your practice.</p>
                    <p class="mt-4">We specialize in creating new, fully-funded research programs and integrating them into existing clinics. Through innovative partnerships with top pharmaceutical sponsors, we hire experienced study personnel for you and optimize the efficiency, quality, and cost of running trials—all with the ultimate goal of making safe and effective therapies more accessible to patients.</p>
                    <p class="mt-4">If you have patients who aren’t responding sufficiently to existing care options, leading a clinical trial from your practice could provide them with fresh hope for finding relief.</p>
                    <a href="#" class="btn primary">Work With Us</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section generic-page">
        <div class="container mx-auto">
            <nav>
                <div class="nav-title">Section Overview</div>
                <ul>
                    <li><a href="#">We Get You Started Fast</a></li>
                    <li><a href="#">We Support You at Every Step</a></li>
                    <li><a href="#">We Invest in Your Future</a></li>
                </ul>
            </nav>
            <div class="generic-page-content">
                <h2 class="text-2xl text-care-motion mb-6">Physician Benefits</h2>
                <section class="has-image">
                    <div class="mr-4">
                        <img src="/images/generic/get-started.jpeg"/>
                    </div>
                    <div>
                        <h3>We Get You Started Fast</h3>
                        <ul class="list-disc">
                            <li>Expert training, on-site study personnel, equipment & setup (at no cost)</li>
                            <li>Facility costs covered</li>
                            <li>New care option (free-of-charge) for your patients</li>
                        </ul>
                    </div>
                </section>
                <section class="has-image">
                    <div class="mr-4">
                        <img src="/images/generic/support.jpeg"/>
                    </div>
                    <div>
                        <h3>We Support You at Every Step</h3>
                        <ul class="list-disc">
                            <li>Seamless integration with your practice workflow</li>
                            <li>All study admin & monitoring provided (no cost) to let you focus on patient care</li>
                            <li>New patients provided from trial recruitment services (no cost)</li>
                        </ul>
                    </div>
                </section>
                <section class="has-image">
                    <div class="mr-4">
                        <img src="/images/generic/invest.jpeg"/>
                    </div>
                    <div>
                        <h3>We Invest in Your Future</h3>
                        <ul class="list-disc">
                            <li>Expanding your clinic’s capabilities</li>
                            <li>Equip you to advance medicine and earn national prestige</li>
                            <li>Delivering additional trial opportunities</li>
                        </ul>
                    </div>
                </section>
                <footer>
                    <div>EVERYTHING PROVIDED. EXCEPT YOUR EXPERTISE.</div>
                    <div><a href="#" class="btn primary">Work With Us</a></div>
                </footer>
            </div>
        </div>
    </section>
{% endblock %}
