{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="section">
        <div class="container mx-auto">
            <div class="generic-hero">
                <div>
                    <img src="/images/generic/GreenMap.png" />
                </div>
                <div>
                    <h1>Redefining a Site Network</h1>
                    <p>We are a unique, multi-specialty network of research sites which operates as one connected team of physician investigators, nurse coordinators, and operational managers.  In practice, we might look like a site network, but we operate as a single site with multiple branches. Our team collaborates and functions as one unit even though our work locations span five time zones. This allows us to uniquely benefit from the resources of a large institution while still staying in touch with our local communities.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section generic-page">
        <div class="container mx-auto">
            <nav>
                <div class="nav-title">Section Overview</div>
                <ul>
                    <li><a href="#">Breadth of Expertise</a></li>
                    <li><a href="#">Quality & Excellence</a></li>
                    <li><a href="#">Fast direct access</a></li>
                    <li class="mt-8"><a href="#" class="btn primary">Work With Us</a></li>
                </ul>
            </nav>
            <div class="generic-page-content">
                <section>
                    <h3>Breadth of Expertise</h3>
                    <p>We support trials in a large number of therapeutic areas, including: <strong>Endocrinology, Gastroenterology, Neurology, Psychiatry, Dermatology, Optometry, Rheumatology, and Internal Medicine</strong>. Our network is constantly growing. Don’t see your therapeutic area in our list? Let us know what you need. We are activating new investigators regularly and would love to hear where your needs lie.</p>
                </section>
                <section>
                    <h3>Quality & Excellence</h3>
                    <p>We are fully equipped and experienced in Phase II, III, and IV studies. We use the latest technology products to maximize our patient recruitment potential and many of our locations have been repeatedly recognized as top enrollers. Click to learn more about a few of our locations.</p>
                    <a href="#" class="inline-block text-care-motion mt-4">See our locations</a>
                </section>
                <section>
                    <h3>Fast direct access</h3>
                    <p>Communications with our sites happen through dedicated personnel with a centralized point of contact. Legal contracts are made directly with Care Access and negotiations need only happen once. We welcome and encourage master agreements with all of our business partners.</p>
                </section>
                <footer>
                    <div>Our team collaborates and functions as one unit even though our work locations span five time zones.</div>
                        <div><a href="#" class="btn primary">Work With Us</a></div>
                </footer>
            </div>
        </div>
    </section>
{% endblock %}
