{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="section">
        <div class="container mx-auto">
            <div class="generic-hero">
                <div>
                    <img src="/images/generic/sod-hero.jpeg" />
                </div>
                <div>
                    <h1>Sites On Demand™</h1>
                    <p>Disappointed with the limited pool of active research sites?  Extend your reach to previously non-research-capable clinics and tap into new patient populations with Sites On Demand™.  Just let us know what type of patients you're looking for, then we'll build you new sites at hand-picked clinics with the target patient population.</p>
                    <a href="#" class="btn primary">Work With Us</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section generic-page">
        <div class="container mx-auto">
            <nav>
                <div class="nav-title">Section Overview</div>
                <ul>
                    <li><a href="#">Exclusivity & Quality</a></li>
                    <li><a href="#">Value & Results</a></li>
                    <li><a href="#">Fast & Effective</a></li>
                    <li class="mt-8"><a href="#" class="btn primary">Work With Us</a></li>
                </ul>
            </nav>
            <div class="generic-page-content">
                <section>
                    <h3>Exclusivity & Quality</h3>
                    <p>We'll find physicians across the United States who have a large, relevant patient population, then equip and train them for all your study needs. Once established, they will prioritize enrollment for your study and avoid competing trials. Site management and trial operations are supported by our nation-wide team of experienced clinical research experts who help maintain the highest quality standards at all of our sites.</p>
                </section>
                <section>
                    <h3>Value & Results</h3>
                    <p>We set the bar high and exceed expectations. Sites On Demand™ is the leading platform that can repeatedly create top-enrolling clinical research sites for a target study anywhere in the country. Our service has been vetted by top pharmaceutical companies and our clients are repeat customers because we deliver results.</p>
                </section>
                <section>
                    <h3>Fast & Effective</h3>
                    <p>We can build a new research site faster than many CROs can identify and select existing sites. This allows you to benefit from on-demand sites on a timescale that will matter for your study. Contact us to learn more about our proven track record, service options and pricing model.</p>
                </section>
                <footer>
                    <div>Just let us know what type of patients you're looking for, then we'll build you new sites at hand-picked clinics with the target patient population.</div>
                    <div><a href="#" class="btn primary">Work With Us</a></div>
                </footer>
            </div>
        </div>
    </section>
{% endblock %}
