{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="section">
        <div class="container mx-auto">
            <div class="generic-hero">
                <div>
                    <img src="/images/generic/site-solutions-hero.jpeg" />
                </div>
                <div>
                    <h1>Benefits of Becoming a Care Access Site</h1>
                    <p>Join the exceptional physicians driving medicine into the future! Finally, there’s an easy way to become a research physician from your practice.</p>
                    <p class="mt-4">We specialize in creating new, fully-funded research programs and integrating them into existing clinics. Through innovative partnerships with top pharmaceutical sponsors, we hire experienced study personnel for you and optimize the efficiency, quality, and cost of running trials—all with the ultimate goal of making safe and effective therapies more accessible to patients.</p>
                    <p class="mt-4">If you have patients who aren’t responding sufficiently to existing care options, leading a clinical trial from your practice could provide them with fresh hope for finding relief.</p>
                    <a href="#" class="btn primary">Contact Us to Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section generic-page">
        <div class="container mx-auto">
            <nav>
                <div class="nav-title">Section Overview</div>
                <ul>
                    <li><a href="#">Business Development</a></li>
                    <li><a href="#">Site Activation Support</a></li>
                    <li><a href="#">Screening and Enrollment Assistance</a></li>
                    <li><a href="#">Finance</a></li>
                </ul>
            </nav>
            <div class="generic-page-content">
                <h2 class="text-2xl text-care-motion mb-4">Site Support Services</h2>
                <p class="mb-4">Care Access provides centralized and on-site support services to established research sites. These capabilities are enabled by a team of experienced research professionals and physicians who operate over 60 research sites across the country.</p>
                <p class="mb-10">We offer a suite of individualized services to support clinical research site operations.</p>
                <section class="has-image">
                    <div>
                        <img src="/images/generic/business-dev.jpeg"/>
                    </div>
                    <div>
                        <h3>We offer a suite of individualized services to support clinical research site operations.</h3>
                        <ul class="list-disc">
                            <li>Study Opportunities</li>
                            <li>Feasibility Questionnaires</li>
                            <li>Pipeline Tracking</li>
                        </ul>
                    </div>
                </section>
                <section class="has-image">
                    <div>
                        <img src="/images/generic/site-support.jpeg"/>
                    </div>
                    <div>
                        <h3>Site Activation Support</h3>
                        <ul class="list-disc">
                            <li>Budgets and Contracts</li>
                            <li>Regulatory Setup</li>
                            <li>Source Creation</li>
                            <li>Vendor Setup and Management</li>
                        </ul>
                    </div>
                </section>
                <section class="has-image">
                    <div>
                        <img src="/images/generic/screening.jpeg"/>
                    </div>
                    <div>
                        <h3>Screening and Enrollment Assistance</h3>
                        <ul class="list-disc">
                            <li>Sub-Investors and Research Coordinators</li>
                            <li>Raters and Schedulers</li>
                            <li>Data Entry</li>
                            <li>Patient Engagement and Educators</li>
                        </ul>
                    </div>
                </section>
                <section class="has-image">
                    <div>
                        <img src="/images/generic/finance.jpeg"/>
                    </div>
                    <div>
                        <h3>Finance</h3>
                        <ul class="list-disc">
                            <li>Billing Compliance</li>
                            <li>Invoicing</li>
                            <li>Budget Analysis</li>
                            <li>Patient Payments</li>
                        </ul>
                    </div>
                </section>
                <footer>
                    <div>WE CAN CUSTOMIZE OUR OFFERINGS TO MEET YOUR SPECIFIC NEEDS.</div>
                    <div><a href="#" class="btn primary">Contact Us for a Free Consult</a></div>
                </footer>
            </div>
        </div>
    </section>
{% endblock %}
