{% extends 'partials/base.html.twig' %}

{% block content %}
    <div style="min-height:60vh;" class="pl-20 mt-44">
        <h1>Sponsors Page</h1>
        <p class="mt-10">
            Page template: <pre>/public/user/themes/caretail/templates/sponsorsoverview.html.twig</pre>
        </p>
    </div>
{% endblock %}